*, :before, :after{
	box-sizing: inherit;
}

img{
	max-width: 100%;
}

body{
	box-sizing: border-box;
	min-width: 980px;
	background-color: #fff;
}

.wrapper{
	overflow: hidden;
}

.center{
	max-width: 1225px;
	margin: 0 auto;
	/*padding: 0 121px;*/
}
.center1 {
	max-width: 980px;
	margin: 0 auto;
	/*margin: 0 auto;*/

}
a{
	text-decoration: none;
	color:inherit;
}

