@font-face {
    font-family: 'museo_sans_cyrl100_italic';
    src: url('../fonts/MuseoSansCyrl100Italic.otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl100';
    src: url('../fonts/MuseoSansCyrl100.otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl300_italic';
    src: url('../fonts/MuseoSansCyrl300_Italic.otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl300';
    src: url('../fonts/MuseoSansCyrl300.otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl900_italic';
    src: url('../fonts/MuseoSansCyrl900_Italic.otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl900';
    src: url('../fonts/MuseoSansCyrl900.otf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'natasha';
    src: url(../fonts/Natasha.ttf);
    font-weight: normal;
    font-style: normal;

}